@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Sometype+Mono:wght@400;500;600;700&display=swap");

/* font-family: 'Sometype Mono', monospace; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar css */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

body {
  color: #fff;
  background: linear-gradient(90deg, #1e1f22 0%, #111 100%);
  font-family: "JetBrains Mono", monospace;
}

.title-text-shadow {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff,
    0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
